<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <preference for="Flancer32\Lib\Context\IDbAdapter"
                type="Flancer32\Lib\Context\DbAdapter"/>

    <type name="Flancer32\Lib\Context\DbAdapter">
        <arguments>
            <argument name="m2Resource" xsi:type="object">Magento\Framework\App\Resource\Proxy</argument>
        </arguments>
    </type>

</config>
