<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Console (CLI Commands) -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="fl32_sample_command" xsi:type="object">\Flancer32\Sample\Console\Command\Own</item>
            </argument>
        </arguments>
    </type>

</config>
